body{  
}
.transparent{
  background: gray;
}

.banner-center h1{
    text-shadow:5px 5px 12px #990000;
}
.banner-center h2{
    text-shadow:2px 2px #7F0000;
    color: darkkhaki;
}
.container{
    text-align:center;
    font-size:x-large;
}
h1{
    color: rgb(228, 47, 47);
}
h2{
    color: rgb(228, 47, 47);
}

.header {
 background-color: #f1f1f1;
padding: 30px;
text-align: center;
} 





header{
    height: 100vh;
    background: url('bd.gif') fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgray;
}
.banner-center{
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 0.8em;
    line-height: 2em;
}

.title p{
    font-size: 0.8em;
    line-height: 2em;
}
.title ul{
    font-family: Slabo;
    padding-top: 30px;
}

.topnav p{
    font-size: 0.8em;
    line-height: 2em;
}
.topnav ul{
    font-family: Slabo;
    padding-top: 30px;
}
.modal-body p{
    font-family: Slabo;
    padding-top: 30px;
}
.modal-body ul{
    font-family: Slabo;
    padding-top: 30px;
}
#skills h2{
    color: orangered !important;
}

#skills{
    padding: 40px;
    color: #2d3142;
    margin-bottom: 10px;
}
#footer{
    padding: 40px;
    color: whitesmoke;
    background-color: #353531;
    
}
#footer .title-underline{
    margin-bottom: 40px;
}


#footer .footer-icons{
    font-size: 60px;
    padding-top: 20px;
    
}
.footer-icons .fa{
    padding: 0px 0px 0px 150px;
    
    
}
#footer .footer-icons a{
    color: deepskyblue;
    text-decoration: none;
}
#footer .footer-icons a:hover{
    color: #f15025;
}
#footer .copyrights h3{
    padding: 40px 0;
    color : #ced0ce;
}